@inherits LayoutComponentBase

<PageTitle>BuySys</PageTitle>

<div class="page">
    
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <header>

    <a  class="Logo" href="#"><img src="https://www.sosfactory.com/wp-content/uploads/2016/12/restaurant-logo-mr-bolat.png" ></a>
    <div class="Redes">
    <a href="" class="Social"><img src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png" alt="Instagram"></a>
    <a href="" class="Social"><img src="https://cdn-icons-png.flaticon.com/512/3670/3670151.png" alt="Twitter"></a>
    <a href="" class="Social"><img src="https://cdn-icons-png.flaticon.com/512/4782/4782345.png" alt="TikTok"></a>
    </div>

    <div class="OptionsList">
    <a href="Menu" class="MenuOp">Menu</a>
    <a href="Mi_Pedido" class="MenuOp">Mi Pedido</a>
    <a href="Locales" class="MenuOp">Locales</a>
    </div>
    

    </header>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer>
        <div class="About">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus lacus id purus ultrices convallis. Sed condimentum lectus dui, pulvinar posuere mi euismod a. Ut suscipit tellus ut sem molestie vulputate. Nam pharetra volutpat nisi ac volutpat. Suspendisse at urna sit amet massa cursus iaculis. Donec porttitor vitae nibh quis mattis. Phasellus eleifend diam rhoncus, consequat libero ut, condimentum ante. Fusce tincidunt nisl sit amet nunc lobortis ullamcorper. Fusce id libero vel nunc cursus lobortis. Vivamus fringilla pharetra nisl et egestas. </p>
            <br>
            <p>&reg;Copyright 2023 KevinDuranBruno</p>
        </div>
    </footer>
</div>
